@import "tailwindcss";
@font-face {
  font-family: "Satoshi";
  src: url("./fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 400; /* Regular */
  font-style: normal;
}
@font-face {
  font-family: "IntegralCf";
  src: url("./fonts/IntegralCf/Fontspring-DEMO-integralcf-bold.otf");
}
@layer utilities {
  .font-satoshi {
    font-family: "Satoshi";
  }
  .font-integralcf {
    font-family: "IntegralCf";
  }
}
.bg_img_div {
  background-image: url("../public/banner-img.png");
  height: 100vh;
  background-repeat: no-repeat;
}
.mob_bg_img_div {
  background-image: url("../public/mobileBanner.png");
  height: 100vh;
  background-repeat: no-repeat;
}
* {
  overflow-x: hidden;
}
